.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: calc(100vh + 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.visually-hidden {
  top:0;
  left:-2px;
  width:1px;
  height:1px;
  position:absolute;
  overflow:hidden;
}

.animation-container {
  display: flex;
  justify-content: center;
}

.rive-container {
  width: 500px;
  height: 500px;
}

.animation-text {
  align-self: center;
  font-size: 20px;
  font-weight: 600;
  margin-left: 16px;
}
